.wrapper {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  margin-bottom: 90px;
  color: white;
  font-weight: bold;
}
