.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #82d1f2;
  background: url(https://images.wallpapershq.com/wallpapers/5001/wallpaper_5001_2160x3840.jpg);
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  background-color: #82d1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
