.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
